.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 30px;
}

.App-header ul {
  list-style-type: none;
  flex: 1;
  text-align: right;
  padding-right: 30px;
}

.App-header ul li {
  display: inline;
  text-align: center;
  padding: 10px;
}

.App-header ul li a {
  font-size: calc(5px + 2vmin);
  color: #fff;
  text-decoration: none;
}

.App-link {
  color: #09d3ac;
}

main {
  margin: 30px auto;
}
